<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Livestock Management{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a> | 
        <a href="/form">Add Livestock</a> | 
        <a href="{{ url_for('auth.login') }}">Login</a> |
        <a href="{{ url_for('auth.register') }}">Register</a>

    </nav>

    <main>
        {% block body %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>  
</body>
</html>
